.volform{
	margin: auto;
			width: 1000px;
	
	}
	
	.volformbody h1{
	text-align:center;
	
	}
	
	.volformbody{
			background-image: url("");
			background-size: cover;
			background-position: center; 
			color:black;
	
	}
	.Volunteer2{
	 display: block;
		
			margin-left:340px;
			width: 70%;
			text-align: center;
			
	}
	
	
	.homeslyde{
	margin-top: -370px;
	
	}
	.logoicon{
	margin-top: auto;
	margin-bottom: auto;
	padding-top:0px;
	
	}
	
	.table-responsive-md{
	
		height:250px;
	}
	
	#googleMap{
		margin-top: -150px;
	}
	 
	
body{
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}	