.volform{
	margin: auto;
			width: 1000px;
	
	}
	
	.volformbody h1{
	text-align:center;
	
	}
	
	.volformbody{
			background-image: url("");
			background-size: cover;
			background-position: center; 
			color:black;
	
	}
	.Volunteer2{
	 display: block;
		
			margin-left:380px;
			width: 70%;
			text-align: center;
			
	}
	
	
	.homeslyde{
	margin-top: -370px;
	
	}
	


	.table-responsive-md{
		height:250px;
	}
	
	#googleMap{
		margin-top: -80px;
	}
	 
	
body{
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}	




/* //attachment css */

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
