body {
  margin: 20px;
  padding: 20px;
  font-family: sans-serif;
  text-align: center;
  background-image: url("http://kb4images.com/images/gray-wallpaper/38143293-gray-wallpaper.jpg");
}

hr{
  border-top:solid 5px;
  width: 300px;
}
h1{
  color: gray;
  font-weight: bold;
}
h3{
  color: red;
  font-weight: 700;
}
h4{
  color: rgb(81, 78, 241);
  font-weight: 700;
}

.Navbtn{
  display: block;
  width: 10%;
}

.form-group{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}